.cartao-post--Maria {
  border-color: #83D5F1
}
.cartao-post--Paz {
  border-color: #DADDDB
}
.cartao-post--Decolagem {
  border-color: #EBA75F
}
.cartao-post--Espirito {
  border-color: #FFD966
}
.cartao-post--Louvor {
  border-color: #F77B72
}
.cartao-post--Perdao {
  border-color: #BADBE1
}
.cartao-post--Novas {
  border-color: #B4A7D6
}
