.lista-categorias {
  width: 100%;
  box-sizing: border-box;
  justify-content: space-around;
  margin-bottom: 2rem;
  list-style-type: none;
  display: flex;
}
.link{
  text-decoration: none;

}

.lista-categorias__categoria {
  /* font-weight: var(--fonte-peso-categorias);
  background-color: var(--cor-contraste-claro); */
  color: #000;
  font-weight:bold;
  text-decoration: none;
  border-radius: 1rem;
  padding: 1rem;
  width: 70%;
}

.lista-categorias__categoria--Maria {
  background-color: #83D5F1;
}
.lista-categorias__categoria--Paz {
  background-color: #DADDDB
}
.lista-categorias__categoria--Decolagem {
  background-color: #EBA75F
}
.lista-categorias__categoria--Louvor {
  background-color: #F77B72;
}
.lista-categorias__categoria--Espirito {
  background-color: #FFD966
}
.lista-categorias__categoria--Perdao {
  background-color: #BADBE1
}

.lista-categorias__categoria--Novas {
  background-color: #83D5F1;
}
.lista-categorias__categoria--Entrada {
  background-color: #F77B72;
}
.lista-categorias__categoria--Penitencial {
  background-color: #BADBE1;
}
.lista-categorias__categoria--Aclamacao {
  background-color: #FFD966;
}
.lista-categorias__categoria--Oferta {
  background-color: #B4D3A7;
}
.lista-categorias__categoria--Salmo {
  background-color: #DADDDB;
}
.lista-categorias__categoria--Santo {
  background-color: #B4A7D6;
}
.lista-categorias__categoria--Cordeiro {
  background-color: #E69138;
}
.lista-categorias__categoria--Comunhao {
  background-color: #CC0000;
}
.lista-categorias__categoria--Gracas {
  background-color: #D8E7F5;
}
.lista-categorias__categoria--Final {
  background-color: #FFD966;
}
.lista-categorias__categoria--Todas {
  background-color: #f595c3;
}

@media  screen and (max-width: 768px) {
  .lista-categorias{
    width:100%;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
  }
  .lista-categorias__categoria{
    width:60%;
  }
}
